mixin menuFolder(index, currentPath)
	div.directory
		unless index.root 
			.directory-name
				.span.material-symbols-rounded expand_more
				span= index.name
		else
			img.menuimage(src="/retro-docs-site/assets/retrologo.png")
		.subcontents
			- for (const file of index.files)
				- let link = file.path.replace(/\.[^/.]+$/, "")+".html"
				p
					a(href="/retro-docs-site"+link, class= (currentPath==link.substring(1))? "current" : '')= file.name.replace(/\.[^/.]+$/, "")
			- for (const folder of index.folders)
				+menuFolder(folder, currentPath)