mixin menuFolder(index, currentPath)

	if index.meta.langs
		- for (const folder of index.folders)
			if currentPath.startsWith(folder.meta.language)
				+menuFolder(folder, currentPath)
		- return

	div.directory
		unless index.meta.root
			.directory-name
				.span.material-symbols-rounded expand_more
				span= index.name
		else
			img.menuimage(src=`/retro-docs-site/${index.meta.language}/assets/retrologo.png`)
			//- .menu-warn(style="")
				+icon-label('dangerous')
					p
						strong Documentation is out of date
				p A game update has changed how many components function. 
				p
					strong For the time being, please use the official documentation.
				p
					small Want to help out with bringing the docs back up to date? Check out the info panel.
		.subcontents
			- for (const file of index.files)
				- let link = file.path.replace(/\.[^/.]+$/, "")+".html"
				p
					a(href="/retro-docs-site"+link, class= (currentPath==link.substring(1))? "current" : '')= file.name.replace(/\.[^/.]+$/, "")
			- for (const folder of index.folders)
				+menuFolder(folder, currentPath)