doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Thank you

		link(rel="stylesheet", href="/retro-docs-site/thanks.css")

		link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;700")
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
		
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js", defer) 
			script(src="/retro-docs-site/rgd.js", defer)
	body 
		main.centerBox.inset-standard-border
			section.header
				h1.center It's time to move on.
				p.center The unofficial community documentation was started to fill in for the woefully inadequate official documentation. This has changed, however, as the official documentation has been updated and is now an excellent resource. As the official documentation now provides what the community documentation sought to, it is no longer required. <b>To avoid confusion or outdated information, this viewer has been disabled.</b> It is recommended you check the official documentation for more complete and up-to-date information about our favorite UI-kit-disguised-as-a-video-game.
			section
				a(href="https://docs.retrogadgets.game/").definitely-a-button 
					span.underline Official Documentation
					span.material-symbols-rounded(style="font-size: 1.5em") arrow_right_alt

				a.center(href="https://github.com/NexTre-dev/retro-gadgets-docs/").the-other-link 
					span You can continue to use the community documentation on GitHub
					span.material-symbols-rounded(style="font-size: 1em") arrow_right_alt
			div(style="height: 10px")
			section.thank-you
				h2.center(style="margin: 2em 0px") Thank you to everyone who contributed to the community documentation
				.contributors-header
					p Notable members and contributions from 
					h3 The Early Contributors
				.contributor.inset-standard-border
					.header
						.avatar
							img(src="https://avatars.githubusercontent.com/u/64142575?&v=4")
						.user
							a.name(href="https://github.com/Isaglish", target="_blank") Isaglish
							.info 
								a.commits(href="https://github.com/NexTre-dev/retro-gadgets-docs/commits?author=Isaglish&since=2022-10-23&until=2023-03-20", target="_blank") 18 commits
								p.additions 1,392++
								p.removals 1,424--
					.contributions
						.contribution
							a.number(href="https://github.com/NexTre-dev/retro-gadgets-docs/pull/7", target="_blank") #7
							p.description Renamed "Api" to "Modules", and performed additional cleanup.
						.contribution
							a.number(href="https://github.com/NexTre-dev/retro-gadgets-docs/pull/10", target="_blank") #10
							p.description Created the dedicated assets directory, and added a better desk image.
						.contribution
							a.number(href="https://github.com/NexTre-dev/retro-gadgets-docs/pull/15", target="_blank") #15
							p.description Added an example for the Segment Display.
				.contributor.inset-standard-border
					.header
						.avatar
							img(src="https://avatars.githubusercontent.com/u/22648124?&v=4")
						.user
							a.name(href="https://github.com/thekifake", target="_blank") thekifake
							.info 
								a.commits(href="https://github.com/NexTre-dev/retro-gadgets-docs/commits?author=thekifake&since=2022-10-23&until=2023-03-20", target="_blank") 20 commits
								p.additions 549++
								p.removals 186--
					.contributions
						.contribution
							a.number(href="https://github.com/NexTre-dev/retro-gadgets-docs/pull/21", target="_blank") #21
							p.description Added global methods page.
						.contribution
							a.number(href="https://github.com/NexTre-dev/retro-gadgets-docs/pull/31", target="_blank") #31
							p.description Updated documentation after a major game update.
						.contribution
							a.number(href="https://github.com/NexTre-dev/retro-gadgets-docs/pull/34", target="_blank") #34
							p.description Added a comprehensive Wifi module tutorial (and updated global methods).
				.contributor.inset-standard-border
					.header
						.avatar
							img(src="https://avatars.githubusercontent.com/u/51715443?&v=4")
						.user
							a.name(href="https://github.com/DotEXEGaming", target="_blank") DotEXEGaming
							.info 
								a.commits(href="https://github.com/NexTre-dev/retro-gadgets-docs/commits?author=DotEXEGaming&since=2022-10-23&until=2023-03-20", target="_blank") 9 commits
								p.additions 20++
								p.removals 12--
					.contributions
						.contribution
							div.number
								a.number(href="https://github.com/NexTre-dev/retro-gadgets-docs/pull/40", target="_blank") #40
								|, 
								a.number(href="https://github.com/NexTre-dev/retro-gadgets-docs/pull/41", target="_blank") #41
								|, 
								a.number(href="https://github.com/NexTre-dev/retro-gadgets-docs/pull/42", target="_blank") #42
							p.description Various minor touchups for readability and clarity.
				p.center.small.less Sorted based on lines (not perfect but you need to sort <i>somehow</i>), excludes language contributors and others mentioned later.
				ul.center.user-list.inset-standard-border(style="margin-top: 0px; margin: auto; max-width: 369px; padding-bottom: 26px")
					.contributors-header
						h3 Other Early Contributors
					li: a(href="https://github.com/cr4t3" target="_blank") cr4t3
					li: a(href="https://github.com/VincentFoulon80" target="_blank") VincentFoulon80
					li: a(href="https://github.com/YaBoiMax" target="_blank") YaBoiMax
					li: a(href="https://github.com/donut28" target="_blank") donut28
					li: a(href="https://github.com/hdboye" target="_blank") hdboye
					li: a(href="https://github.com/SuperIronMan987" target="_blank") SuperIronMan987
				div(style="height: 10px")
				.contributors-header
						p Members and notable contributions from 
						h3 Further contributors
				.contributor.inset-standard-border
					.header
						.avatar
							img(src="https://avatars.githubusercontent.com/u/43729305?&v=4")
						.user
							a.name(href="https://github.com/Tresquel", target="_blank") Tresquel
							.info 
								a.commits(href="https://github.com/NexTre-dev/retro-gadgets-docs/commits?author=Tresquel&since=2022-10-23&until=2023-03-20", target="_blank") 13 commits
								p.additions 214++
								p.removals 45--
					.contributions
						.contribution
							a.number(href="https://github.com/NexTre-dev/retro-gadgets-docs/pull/47", target="_blank") #47
							p.description Added the Keyboard Chip tutorial, and a small explainer about how to set properties in the multitool.
						.contribution
							a.number(href="https://github.com/NexTre-dev/retro-gadgets-docs/pull/48", target="_blank") #48
							p.description Created the custom Cutting Mat guide.
						.contribution
							a.number(href="https://github.com/NexTre-dev/retro-gadgets-docs/pull/49", target="_blank") #49
							p.description Updated the very-out-of-date readme.
						.contribution
							a.number(href="https://github.com/NexTre-dev/retro-gadgets-docs/pull/57", target="_blank") #57
							p.description Added comprehensive documentation for the newly-added PixelData class.<br><small class="less">(A personal thanks for that, by the way.)</small>
				.contributor.inset-standard-border
					.header
						.avatar
							img(src="https://avatars.githubusercontent.com/u/5004974?v=4")
						.user
							a.name(href="https://github.com/FaustVX", target="_blank") FaustVX
							.info 
								a.commits(href="https://github.com/NexTre-dev/retro-gadgets-docs/commits?author=FaustVX&since=2022-10-23&until=2023-03-20", target="_blank") 7 commits
								p.additions 31++
								p.removals 25--
					.contributions
						.contribution
							a.number(href="https://github.com/NexTre-dev/retro-gadgets-docs/pull/52", target="_blank") #52
							p.description Updated the Magnetic Connector documentation after a game update.
				p.center.small.less Sorted based on lines, same as before.
				p.center.small.less (There are no other further contributors)

				.contributors-header
						//- p Members and notable contributions from 
						h3 Translators
				.contributor.inset-standard-border
					.header
						.avatar
							img(src="https://avatars.githubusercontent.com/u/57229667?0&v=4")
						.user
							a.name(href="https://github.com/Selman3447", target="_blank") Selman3447
							.info 
								a.commits(href="https://github.com/NexTre-dev/retro-gadgets-docs/commit/1890f85cd34abb8fc0fd8558f9e6b036773bbee0", target="_blank") Turkish
								p.additions 1,720 ++
								//- p.removals 0--
				
				.contributor.inset-standard-border
					.header
						.avatar
							img(src="https://avatars.githubusercontent.com/u/6095752?&v=4")
						.user
							a.name(href="https://github.com/zhufree", target="_blank") zhufree
							.info 
								a.commits(href="https://github.com/NexTre-dev/retro-gadgets-docs/commits?author=zhufree&since=2022-10-23&until=2023-03-20", target="_blank") Chinese
								p.additions 192++
								p.removals 5--
				.contributor.inset-standard-border
					.header
						.avatar
							img(src="https://avatars.githubusercontent.com/u/65402700?&v=4")
						.user
							a.name(href="https://github.com/stas96111", target="_blank") stas96111
							.info 
								a.commits(href="https://github.com/NexTre-dev/retro-gadgets-docs/pulls?q=is%3Apr+author%3Astas96111", target="_blank") Ukrainian
								p.commits.less Unknown
								//- p.removals 0--
				p.center.small.less Sorted by reverse-chronological order.

				.contributors-header
						p And of course,
						h3 A very special thank you to:
				.contributor.inset-standard-border
					.header
						.avatar
							img(src="https://avatars.githubusercontent.com/u/66027449?&v=4")
						.user
							a.name(href="https://github.com/NexTre-dev", target="_blank") NexTre-dev
							.info 
								a.commits(href="https://github.com/NexTre-dev/retro-gadgets-docs/commits?author=NexTre-dev&since=2021-10-23&until=2023-03-20", target="_blank") 10 commits
								p.additions 173++
								p.removals 7--
					.contributions
						.contribution
							a.number(href="https://github.com/NexTre-dev/retro-gadgets-docs/commit/ee2f75faf4fca33d1ea935038987245b48c29403", target="_blank") ee2f75f
							p.description Initial Commit
			section
				p.center(style="margin-top: 0px") Information recorded on 20/03/2023<br>Sorry if I missed anyone.
				p.center The community documentation was an extremely fun project, and I'd truly like to thank each and every one of you for helping! I don't have any metrics, but the Discord community seems to have used it quite often, and I'm sure it helped many gadgeteers out! It brought us together, and I gained a lot of experience in using GitHub from it. I know it may be sad to see it go, but it is important people have access to official and up-to-date information first. I hope you'll understand.
				p.center.small You may still file pull requests towards the documentation, if you so wish. I will still be there to approve them.
			div(style="height: 20px")
			section.viewer-thank-you
				h2.center(style="margin: 2em 0px") I'd also like to thank everyone who contributed themes to the viewer!
				.contributors-header
						p Themes contributed from contributors with
						h3 Themes still enabled
				.contributor.inset-standard-border
					.header
						.avatar
							img(src="https://avatars.githubusercontent.com/u/112806218?&v=4")
						.user
							a.name(href="https://github.com/donut28", target="_blank") donut28
							.info 
								a.commits(href="https://github.com/kurmachu/retro-docs-site/commits?author=donut28", target="_blank") 36 commits
								p.additions 910++
								p.removals 492--
					.contributions
						.contribution
							a.number(href="https://github.com/kurmachu/retro-docs-site/pull/8", target="_blank") #8
							p.description Ice
						.contribution
							a.number(href="https://github.com/kurmachu/retro-docs-site/pull/6", target="_blank") #6
							p.description Terminal
						.contribution
							a.number(href="https://github.com/kurmachu/retro-docs-site/pull/3", target="_blank") #3
							p.description Blue
				.contributor.inset-standard-border
					.header
						.avatar
							img(src="https://avatars.githubusercontent.com/u/51715443?&v=4")
						.user
							a.name(href="https://github.com/DotEXEGaming", target="_blank") DotEXEGaming
							.info 
								a.commits(href="https://github.com/kurmachu/retro-docs-site/commits?author=DotEXEGaming", target="_blank") 2 commits
								p.additions 111++
								p.removals 4--
					.contributions
						.contribution
							a.number(href="https://github.com/kurmachu/retro-docs-site/pull/32", target="_blank") #32
							p.description Darkest
				p.center.small.less Sorted based on amount of themes.

				.contributors-header
						p Themes contributed from
						h3 Anyone who contributed as some point
				
				.contributor.inset-standard-border
					.header
						.avatar
							img(src="https://avatars.githubusercontent.com/u/22648124?&v=4")
						.user
							a.name(href="https://github.com/thekifake", target="_blank") thekifake
							.info 
								a.commits(href="https://github.com/kurmachu/retro-docs-site/commits?author=thekifake", target="_blank") 5 commits
								p.additions 313++
								p.removals 100--
					.contributions
						.contribution
							a.number(href="https://github.com/kurmachu/retro-docs-site/pull/12", target="_blank") #12
							p.description Hi-contrast
						.contribution
							a.number(href="https://github.com/kurmachu/retro-docs-site/pull/4", target="_blank") #4
							p.description Nightowl
				.contributor.inset-standard-border
					.header
						.avatar
							img(src="https://avatars.githubusercontent.com/u/67573485?&v=4")
						.user
							a.name(href="https://github.com/cr4t3", target="_blank") cr4t3
							.info 
								a.commits(href="https://github.com/kurmachu/retro-docs-site/commits?author=cr4t3", target="_blank") 6 commits
								p.additions 332++
								p.removals 62--
					.contributions
						.contribution
							a.number(href="https://github.com/kurmachu/retro-docs-site/pull/9", target="_blank") #9
							p.description "Discord"
						.contribution
							a.number(href="https://github.com/kurmachu/retro-docs-site/pull/7", target="_blank") #7
							p.description Darkshell
				.contributor.inset-standard-border
					.header
						.avatar
							img(src="https://avatars.githubusercontent.com/u/85282355?&v=4")
						.user
							a.name(href="https://github.com/wooferz", target="_blank") wooferz
							.info 
								a.commits(href="https://github.com/kurmachu/retro-docs-site/commits?author=wooferz", target="_blank") 17 commits
								p.additions 728++
								p.removals 83--
					.contributions
						.contribution
							a.number(href="https://github.com/kurmachu/retro-docs-site/pull/25", target="_blank") #25
							p.description Purple
						.contribution
							a.number(href="https://github.com/kurmachu/retro-docs-site/pull/24", target="_blank") #24
							p.description Oceanic
						.contribution
							a.number(href="https://github.com/kurmachu/retro-docs-site/pull/22", target="_blank") #22
							p.description "Material Palenight"
						.contribution
							a.number(href="https://github.com/kurmachu/retro-docs-site/pull/21", target="_blank") #21
							p.description NES
						.contribution
							a.number(href="https://github.com/kurmachu/retro-docs-site/pull/19", target="_blank") #19
							p.description Nordq
						.contribution
							a.number(href="https://github.com/kurmachu/retro-docs-site/pull/2", target="_blank") #2
							p.description "One Dark"
				p.center.small.less Sorted algorithmically.
			section
				p.center(style="margin-top: 0px") Information recorded on 22/03/2023<br>Sorry if I missed anyone.
				p.center Equally, the viewer itself, the site you're on now, was a fun challenge and I hope genuinely useful compared to GitHub. Of course, GitHub now has a list view, making the viewer quite redundant. I'm glad it didn't back when the docs were being written however, as the viewer was a very fun and fulfilling project, and it was always fun to see what themes people would use or contribute! I'll miss the themes, but the memories will stay. Of course, you can build the site locally and remove this page to re-use it. Perhaps you'll find another use for a jank markdown viewer?

				.contributors-header
						p Finally, no matter what or if you contributed,
						h3 Thank <em>you</em> for being part of this community.
				p.center This community has let me meet many wonderful people and has helped me through hard times in life. I'm excited to see what the future holds, now that events are officially documented!
				p.center Thanks again,

				.contributor.inset-standard-border
					.header
						.avatar
							img(src="https://avatars.githubusercontent.com/u/31492625?v=4")
						.user
							a.name(href="https://github.com/kurmachu", target="_blank") kurmachu
							.info 
								a.commits(href="https://github.com/kurmachu", target="_blank") 79 commits
								p.additions 15,282++
								p.removals 4,494--
					.contributions
						p.center Questions? Reach out on Discord, I'm Marx#4007.
				div(style="height: 5px")


