/* Import any fonts you need */
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

/* Define most theme properties here */
body {
	/* Basic properties applied to the body */
	/* background: 
	radial-gradient(circle at 0px 0px, rgba(17, 115, 157, 0.301), transparent 50%),
	radial-gradient(circle at 100% 100%, rgba(17, 115, 157, 0.192), transparent 30%),
	radial-gradient(circle at 80% 27%, rgba(233, 26, 212, 0.175), transparent 80%),
	radial-gradient(circle at 20% 80%, rgba(15, 220, 186, 0.205), transparent 100%),
	linear-gradient(black, black); */
	background: 
	radial-gradient(circle at 0px 0px, #445dff3a, transparent 100%), 
	radial-gradient(circle at 100% 100%, #44ff6d1b, transparent 100%),
	radial-gradient(circle at 80% 70%, #ffe55417, transparent 60%),
	radial-gradient(circle at 20% 80%, #ffa04d20, transparent 40%),
	radial-gradient(circle at 50% 30%, #ff624a35, transparent 80%),
	linear-gradient(black, black); /* Logo colors! */
	color: white;

	/* Be sure to check the accessability of your theme! */

	/* Theme properties */
	--roundness: 1.3; /* How round is this theme? Applied automatically to borders. Unitless */

	/* Fonts! */
	font-family: Quicksand, sans-serif;
	--code-font: RobotoMono, monospace;

	/* Let's start left-to-right, top to bottom. */
	/* First, the menu colors */
	/* Unselected */
	--menu-link-background: #ffffff0d;
    --menu-link-foreground: white; 

	/* Hover */
	--menu-link-background-hover: #ffffff38;
    --menu-link-foreground-hover: white;

	/* Current page */
	--menu-link-background-current: white;
    --menu-link-foreground-current: black;

	/* Next, the dividers! */
	/* This is the divider between the menu and the page */
	--layout-divider-color: rgba(0, 0, 0, 0.158);
	--layout-divider-width: 1px;

	/* This is the color of hrs (including the title hr) */
	--hr-color: rgba(0, 0, 0, 0.158);
    
	/* Onto the article! */
	/* Links */
	--article-link-color: #44ffff;
	--article-link-color-hover: #44ffba;
	--article-link-color-active: #d5ff44;
	
	/* Code segments (mono inlines) */
	--article-color-code-foreground: #00ffca;
    --article-color-code-background: #ffffff04;

	/* Full code blocks (formatted segments) */
	--article-pre-color: white;
	--article-pre-border: #ffffff38;
	--article-pre-border-thickness: 1px;
	--article-pre-background: #0000002e;
	/* Formatted code keywords! */
	--hljs-keyword: #00aeff;
	--hljs-string: #ffbb00;
	--hljs-comment: #71ff90c7;
	--hljs-title: #aca1e5;
	--hljs-params: #8ae7d1;
	--hljs-number: #39f548;
	--hljs-built_in: #abe4ff;
	--hljs-literal: #00ffee;

	/* Onto the toolbar, at the bottom of the menu */
	/* Color for the icons when not selected */
	--toolbar-color: #ffffffb4;
	--toolbar-hover-color: white;

	/* Highlight color for each section (used as background for it and for the icon) */
	--toolbar-lang-color: #000000;
	--toolbar-theme-color: #000000;
	--toolbar-sync-color: #000000;
	--toolbar-info-color: #000000;

	/* Color on top of the particular toolbar color defined above (be sure to check accessability!) */
	--language-color: white;
	--theme-color: white;
	--sync-info-color: white;
	--info-color: white;
}
menu .directory a, article :not(pre) > code, article pre {
	backdrop-filter: blur(100px);
}
article hr {
	height: 1px;
}
.dialogue-arrow {
	border: 1px solid transparent;
	transition: background-color 0.3s, border 0.3s;
}
.dialogue-arrow.selected {
	border: 1px solid white;
}
.dialogue-arrow.selected {
	transform: translate(0, calc(-50% - var(--inset) - 1px)) rotate(45deg);
}
.tool-bubble {
	border: 1px solid white;
}
.tool-bubble {
	background: linear-gradient(0deg, black, transparent 70%) !important;
}
.toolbarIcon.lang.selected {
	color: #ff1f81;
}
.toolbarIcon.theme.selected {
	color: #65ff78;
}
.toolbarIcon.info.selected {
	color: #1fdbff;
}