/* [THEME META] {"ver":2, "author":"Kurmachu", "description":"A revival of the second theme ever made, from back when themes were all in one file. Designed to look like what you might find in a textbook."} */

/* Legacy theme, do not use as example. */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body {
	background-color: #fbfdff;
	--roundness: 0;
	--layout-divider-width: 2px;
	--layout-divider-color: #0075da23;
	--hr-color: #0075da23;

	--menu-link-background: transparent;
	--menu-link-border: #0074da56;
    --menu-link-foreground: #0075da;

    --menu-link-background-hover: #0074da29;
    --menu-link-foreground-hover: #0075da;

    --menu-link-background-current: #0075da;
    --menu-link-foreground-current: #ffffff;

	--article-color-code-foreground: #00549c;
    --article-color-code-background: #6ea6d71f;

	--article-pre-color: black;
	--article-pre-border: #0074da21;
	--article-pre-background: #0074da0e;

	--hljs-keyword: #0070d1;
	--hljs-string: #9e6300;
	--hljs-comment: #3900959e;

	--toolbar-color: #000000b4;
	--toolbar-hover-color: black;

	--toolbar-lang-color: #0075da;
	--toolbar-theme-color: #0075da;
	/* --toolbar-sync-color: #eccb0e; */
	--toolbar-info-color: #0075da;

	--language-color: white;
	--theme-color: white;
	--sync-info-color: white;
	--info-color: white;

	font-family: 'Inter', sans-serif;
	--code-font: RobotoMono, monospace;

	--article-pre-border-thickness: 2px;
	--article-link-color: #0075da;
	--article-link-color-hover: #005aa8;
	--article-link-color-active: #0082f4;

	/* Did you know markdown has block quotes? Yeah apparently it does. */
	--blockquote-line-color: #dbebfa;
	--blockquote-text-color: #2975BC;

	/* Onto the toolbar, at the bottom of the menu */
	/* Color for the icons when not selected */
	--toolbar-color: #000000b4;
	--toolbar-hover-color: black;

	/* We've gotta do mobile now, because apparently people want to read docs on their phone. */
	/* The mobile menu is an overlay, so you might want to give it another color, or even some other effect? The important part is you do something, because otherwise it is transparent.*/
	--mobile-menu-background: #fbfdff;

	/* On mobile there's a menu button, so we should give it a color and background.*/
	--mobile-menu-button-color: black;
	--mobile-menu-button-background: #dbebfaa2;
}
.theme-twine menu .directory a {
	border: 1px solid var(--menu-link-border);
}
.theme-twine .layout-divider {
	width: 2px;
}
table {
	border: 2px solid #dbebfa !important;
	border-collapse: collapse !important;
}
th {
	padding: 5px !important;
	border: 2px solid #dbebfa !important;
	background-color: #dbebfa !important;
}
td {
	padding: 5px !important;
	border: 2px solid #dbebfa !important;
}

tr:nth-child(even) {
	background-color: #0074da09 !important;
}