.material-symbols-rounded {
	font-variation-settings:
	'FILL' 0,
	'wght' 400,
	'GRAD' 0,
	'opsz' 48;
}
/* @font-face {
	font-family: Montserrat;
	src: url(Montserrat-VariableFont_wght.ttf);
	font-weight: 1 999;
}
@font-face {
	font-family: RobotoMono;
	src: url(RobotoMono-VariableFont_wght.ttf);
	font-weight: 1 999;
} */


:root {
	height: 100%;
}
code {
	font-family: var(--code-font);
}

body {
	display: flex;
	flex-direction: row;
	height: 100%;
	margin: 0px;
}

menu {
	padding: 10px;
	padding-right: 5px;
	margin: 0px;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	transition: width 0.5s;
	justify-content: space-between;
	box-sizing: border-box;
}

menu p {
	margin: 0px;
}
menu .directory a {
	display: inline-block;
	text-decoration: none;
	background-color: var(--menu-link-background);
	padding: 3px 10px;
	border-radius: calc(10px * var(--roundness));
	margin: 3px 0px;
	color: var(--menu-link-foreground);
	transition: color 0.3s, background-color 0.3s;
}
menu .directory a:hover:not(.current) {
	background-color: var(--menu-link-background-hover);
	color: var(--menu-link-foreground-hover);
}
menu a.current {
	background-color: var(--menu-link-background-current);
	color: var(--menu-link-foreground-current)
}
.menuimage {
	width: 200px;
	text-align: center;
	margin: auto;
	display: block;
}

.directory {
}
.directory-name {
	display: inline-flex;
	align-items: center;
	padding: 3px 10px;
	border-radius: calc(10px * var(--roundness));
	margin: 3px 0px;
	cursor: default;
}
.directory-name > .material-symbols-rounded {
	user-select: none;
	color: var(--folder-color);
	margin-right: 4px;
	transition: transform 0.3s;
}
.directory.closed > .directory-name > .material-symbols-rounded {
	transform: rotate(-90deg);
}
.directory.current > .directory-name {
	font-weight: 600;
}

.subcontents {
	padding-left: 28px;
	overflow-y: clip;
	overflow-x: visible;
	transition: height 0.5s;
}

.layout-divider {
	margin: 10px 10px;
	width: var(--layout-divider-width);
	border-radius: calc(10px * var(--roundness));
	background-color: var(--layout-divider-color)
}


article {
	overflow: auto;
	flex-basis: 1px;
	flex-grow: 1;
	padding-right: 10px;
	line-height: 1.5;
}

article img {
	border-radius: calc(5px * var(--roundness));
	/* margin: 10px; */
	max-width: calc(100% - 5px);
	display: block;
}
article img[align="right"] {
	margin-left: 10px;
	margin-bottom: 10px;
}
article h1 {
	font-size: 2em;
	font-weight: 400;
	margin-bottom: 0px;
}
article hr {
	border: none;
	height: 2px;
	border-radius: calc(10px * var(--roundness));
	background-color: var(--hr-color);
}
article h3 {
	font-weight: 500;
}
article code {
	color: var(--article-color-code-foreground);
	background-color: var(--article-color-code-background);
    padding: 1px 5px;
    border-radius: calc(6px * var(--roundness));
}
article a {
	color: var(--article-link-color);
	transition: color 0.3s;
}
article a:hover {
	color: var(--article-link-color-hover)
}
article a:active {
	color: var(--article-link-color-active)
}
article pre {
	background-color: var(--article-pre-background);
    border: var(--article-pre-border-thickness) solid var(--article-pre-border);
    border-radius: calc(5px * var(--roundness));
    padding: 5px;
	white-space: pre-wrap;
	clear: both;
	margin: 10px 0px;
}
article pre > code {
	background-color: transparent;
    color: var(--article-pre-color);
    padding: 3px;
    border-radius: calc(6px * var(--roundness));
}


.hljs-keyword {
    color: var(--hljs-keyword);
}
.hljs-string {
    color: var(--hljs-string);
}
.hljs-comment {
    color: var(--hljs-comment);
	font-style: italic;
}
.hljs-title {
    color: var(--hljs-title);
}
.hljs-params {
    color: var(--hljs-params);
}
.hljs-number {
    color: var(--hljs-number);
}
.hljs-built_in {
    color: var(--hljs-built_in);
}
.hljs-literal {
    color: var(--hljs-literal);
}

.tools {
	margin-bottom: 10px;
}
.toolbar {
	display: flex;
	font-size: 2em;
	justify-content: space-between;
	margin: 0px 5px;
}
.toolbar .toolbarIcon {
	font-size: inherit;
	color: var(--toolbar-color);
	transition: color 0.3s, opacity 0.3s;
	user-select: none;
}
.toolbarIcon:hover {
	color: var(--toolbar-hover-color)
}

.toolbarIcon.selected.lang {
	color: var(--toolbar-lang-color);
}
.toolbarIcon.selected.theme {
	color: var(--toolbar-theme-color);
}
.toolbarIcon.selected.sync {
	color: var(--toolbar-sync-color);
}
.toolbarIcon.selected.info {
	color: var(--toolbar-info-color);
}

.tool-dialogue-arrow-area {
	display: flex;
	justify-content: space-between;
	height: calc((2em / 2) - 2px);
	margin: 0px 5px;
}
.dialogue-arrow {
	--inset: 5px;
	height: calc(2em - (var(--inset) * 2));
	width: calc(2em - (var(--inset) * 2));
	margin: var(--inset);
	border-bottom-right-radius: calc(5px  * var(--roundness));
	clip-path: polygon(0 100%, 100% 100%, 100% 0);
	transform: translate(0, calc(-50% - var(--inset))) rotate(45deg);
	transition: background-color 0.3s;
}

.dialogue-arrow.selected.lang {
	background-color: var(--toolbar-lang-color);
}
.dialogue-arrow.selected.theme {
	background-color: var(--toolbar-theme-color);
}
.dialogue-arrow.selected.sync {
	background-color: var(--toolbar-sync-color);
}
.dialogue-arrow.selected.info {
	background-color: var(--toolbar-info-color);
}


.tool-bubble {
	font-size: 0.8em;
    padding: 7px 10px;
    border-radius: calc(5px * var(--roundness));
	margin-top: 14px;
	transition: transform 0.3s, opacity 0.3s;
	transform-origin: bottom center;
	opacity: 1;
}
.tool-bubble.hidden {
	transform: scaleY(0);
	opacity: 0;
}

.tool-bubble.lang {
	background-color: var(--toolbar-lang-color);
    color: var(--language-color);
	--pass-back: var(--language-color);
}
.tool-bubble.theme {
	background-color: var(--toolbar-theme-color);
    color: var(--theme-color);
	--pass-back: var(--theme-color);
}
.tool-bubble.sync {
	background-color: var(--toolbar-sync-color);
    color: var(--sync-info-color);
	--pass-back: var(--sync-info-color);
}
.tool-bubble.info {
	background-color: var(--toolbar-info-color);
    color: var(--info-color);
	--pass-back: var(--info-color);
}



.tools hr {
	border: none;
	background-color: var(--pass-back);
	height: 1px;
	border-radius: calc(50px * var(--roundness));
	opacity: 0.5;
}

.tools a {
	color: var(--pass-back)
}

.icon-label {
	display: flex;
	align-items: center;
	margin: 5px 0px;
}
.icon-label:first-child {
	margin-top: 0px;
}
.icon-label:last-child {
	margin-bottom: 0px;
}
.icon-label-text {
	margin-left: 8px;
}

.theme-selector {
	border-radius: calc(5px * var(--roundness));
    font-family: inherit;
    background: none;
    border: 1px solid var(--pass-back);
    color: inherit;
    padding: 4px;
	text-transform: capitalize;
}
.theme-selector option {
	color: black;
	text-transform: capitalize;
}
.theme-selector optgroup {
	color: black;
	text-transform: capitalize;
}