/* #region arithm */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Mono&display=swap');
.theme-arithm {
	--layout-divider-color: rgba(0, 0, 0, 0.158);
	--hr-color: rgba(0, 0, 0, 0.158);

	--menu-link-background: #445dff0f;
    --menu-link-foreground: #445dff;

    --menu-link-background-hover: #445dff38;
    --menu-link-foreground-hover: #445dff;

    --menu-link-background-current: #445dff;
    --menu-link-foreground-current: #ffffff;

	--article-color-code-foreground: #ad5100;
    --article-color-code-background: #ffa14d21;

	--article-pre-color: white;
	--article-pre-border: #44ff6d;
	--article-pre-background: #06150a;

	--hljs-keyword: #42a3ff;
	--hljs-string: #ffff65;
	--hljs-comment: #44ff6d9e;

	--toolbar-color: #000000b4;
	--toolbar-hover-color: black;

	--toolbar-lang-color: #ff624a;
	--toolbar-theme-color: #16ce3e;
	--toolbar-sync-color: #eccb0e;
	--toolbar-info-color: #445dff;

	--language-color: #610D00;
	--theme-color: #064C16;
	--sync-info-color: #302903;
	--info-color: white;

	font-family: Montserrat, sans-serif;
	--code-font: RobotoMono, monospace;
}
/* #endregion */

/* #region twine */
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.theme-twine {
	--layout-divider-color: #00000023;
	--hr-color: #00000023;

	--menu-link-background: transparent;
	--menu-link-border: #0074da56;
    --menu-link-foreground: #0075da;

    --menu-link-background-hover: #0074da29;
    --menu-link-foreground-hover: #0075da;

    --menu-link-background-current: #0075da;
    --menu-link-foreground-current: #ffffff;

	--article-color-code-foreground: #00549c;
    --article-color-code-background: #6ea6d71f;

	--article-pre-color: black;
	--article-pre-border: #0074da56;
	--article-pre-background: #0074da0e;

	--hljs-keyword: #0070d1;
	--hljs-string: #9e6300;
	--hljs-comment: #3900959e;

	--toolbar-color: #000000b4;
	--toolbar-hover-color: black;

	--toolbar-lang-color: #0075da;
	--toolbar-theme-color: #0075da;
	/* --toolbar-sync-color: #eccb0e; */
	--toolbar-info-color: #0075da;

	--language-color: white;
	--theme-color: white;
	--sync-info-color: white;
	--info-color: white;

	font-family: 'Inter', sans-serif;
	--code-font: RobotoMono, monospace;
}
.theme-twine menu .directory a {
	border: 1px solid var(--menu-link-border);
}
.theme-twine .layout-divider {
	width: 2px;
}
/* #endregion */