.material-symbols-rounded {
	font-variation-settings:
	'FILL' 1,
	'wght' 400,
	'GRAD' 0,
	'opsz' 48
}
@font-face {
	font-family: Montserrat;
	src: url(Montserrat-VariableFont_wght.ttf);
	font-weight: 1 999;
}
@font-face {
	font-family: RobotoMono;
	src: url(RobotoMono-VariableFont_wght.ttf);
	font-weight: 1 999;
}

.theme-light {
	--menu-link-background: #00ddff00;
    --menu-link-foreground: #006777;

    --menu-link-background-hover: #00ddff2e;
    --menu-link-foreground-hover: #006777;

    --menu-link-background-current: #1f97ac;
    --menu-link-foreground-current: #ffffff;
}


:root {
	font-family: Montserrat, sans-serif;
	height: 100%;
}
code {
	font-family: RobotoMono, monospace;
}

body {
	display: flex;
	flex-direction: row;
	height: 100%;
	margin: 0px;
}

menu {
	padding: 10px;
	padding-right: 5px;
	margin: 0px;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	transition: width 0.5s;
	justify-content: space-between;
}

menu p {
	margin: 0px;
}
menu a {
	display: inline-block;
	text-decoration: none;
	background-color: var(--menu-link-background);
	padding: 3px 10px;
	border-radius: 10px;
	margin: 3px 0px;
	color: var(--menu-link-foreground);
	transition: color 0.3s, background-color 0.3s;
}
menu a:hover {
	background-color: var(--menu-link-background-hover);
	color: var(--menu-link-foreground-hover);
}
menu a.current {
	background-color: var(--menu-link-background-current);
	color: var(--menu-link-foreground-current)
}
.menuimage {
	width: 200px;
	text-align: center;
	margin: auto;
	display: block;
}

.directory {
}
.directory-name {
	display: inline-flex;
	align-items: center;
	padding: 3px 10px;
	border-radius: 10px;
	margin: 3px 0px;
	cursor: default;
}
.directory-name > .material-symbols-rounded {
	user-select: none;
	color: var(--folder-color);
	margin-right: 4px;
	transition: transform 0.3s;
}
.directory.closed > .directory-name > .material-symbols-rounded {
	transform: rotate(-90deg);
}
.directory.current > .directory-name {
	font-weight: 600;
}

.subcontents {
	padding-left: 28px;
	overflow-y: clip;
	overflow-x: visible;
	transition: height 0.5s;
}

.layout-divider {
	margin: 10px 10px;
	width: 3px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.158);
}


article {
	overflow: scroll;
	flex-basis: 1px;
	flex-grow: 1;
	padding-right: 10px;
	line-height: 1.5;
}

article img {
	border-radius: 5px;
	/* margin: 10px; */
	max-width: calc(100% - 5px);
	display: block;
}
article img[align="right"] {
	margin-left: 10px;
	margin-bottom: 10px;
}
article h1 {
	font-size: 2em;
	font-weight: 400;
	margin-bottom: 0px;
}
article hr {
	border: none;
	height: 2px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.158);
}
article h3 {
	font-weight: 500;
}
article code {
	background-color: #e3d55b30;
    color: #756900;
    padding: 1px 5px;
    border-radius: 6px;
}
article pre {
	background-color: #242c25;
    border: 2px solid #66c466;
    border-radius: 5px;
    padding: 5px;
	white-space: pre-wrap;
	clear: both;
	margin: 10px 0px;
}
article pre > code {
	background-color: transparent;
    color: white;
    padding: 3px;
    border-radius: 6px;
}


.hljs-keyword {
    color: #42a3ff;
}
.hljs-string {
    color: #ffff65;
}
.hljs-comment {
    color: #66c466;
	font-style: italic;
}

.sync-info {
	font-size: 0.8em;
	background-color: #ffa5000d;
    color: #bf7b00e0;
    padding: 5px 10px;
    border-radius: 10px;
	margin-top: 14px;
}